/* imports */
@import './imports/variables';
@import './imports/global';

/* components */
@import '../components/menu/menu';

/* views */
@import '../views/search/search';

.clear::after {
    content: "";
    display: table;
    clear: both;
}

.left {
    float: left;
}

.right {
    float: right;
}

.view {
    padding: 20px 40px;
    margin-left: 250px;
}
